<div id="<%= dom_id bullshit %>">
  <p>
    <strong>Title:</strong>
    <%= bullshit.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= bullshit.description %>
  </p>

  <p>
    <strong>Random field:</strong>
    <%= bullshit.random_field %>
  </p>

</div>

<% if bullshit.hidden_parameter == "admin" %>
  <p>Flag: <%= ENV["FLAG3"] %></p>
<% else %>
  <p>hidden_parameter has to be admin to show the flag</p>
<% end %>